__pycache__
*.parquet
*.csv 
data/
test_API.py
.venv/
.venv
.zip
keyword-extraction-viet/
keyword-extraction-viet
vncorenlp
vncorenlp/
hub/
.venv-gpu
.vscode
checkpoint-25316
checkpoint-37974
eval_tmp
training_args.bin
phobert__sentiment_model_v1
phobert_financial_sentiment_model